body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Calibri;
  font-size: 6vmin;
  height: 100vh;
  margin: 0;
}

h1 {
  text-shadow: 0 .5vmin #0005;
  transition: all .1s ease;
}
h1:hover {transform: scale(1.5)}